//northslope.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.b2712e81-9b25-41c9-acaf-cbc81e427f4c/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@extraction-helper:registry=https://northslope.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.b2712e81-9b25-41c9-acaf-cbc81e427f4c/contents/release/npm/
